In [1]:
import csv

In [2]:
columns = ["Prod_No", "Prod_Name", "Jan", "Feb", "Mar", "Apr", "May", "Jun"]

In [3]:
# Specify the CSV file name
csv_file = "product_sales.csv"

In [4]:
import pandas as pd

In [5]:
# Create an empty DataFrame
data = {
    'Prod_No': [],
    'Prod_Name': [],
    'Jan': [],
    'Feb': [],
    'Mar': [],
    'Apr': [],
    'May': [],
    'Jun': []
}

In [ ]:
# Add 12 records with user input
for i in range(12):
    prod_no = input("Enter Product Number: ")
    prod_name = input("Enter Product Name: ")
    jan = int(input("Enter January Sales: "))
    feb = int(input("Enter February Sales: "))
    mar = int(input("Enter March Sales: "))
    apr = int(input("Enter April Sales: "))
    may = int(input("Enter May Sales: "))
    jun = int(input("Enter June Sales: "))

    data['Prod_No'].append(prod_no)
    data['Prod_Name'].append(prod_name)
    data['Jan'].append(jan)
    data['Feb'].append(feb)
    data['Mar'].append(mar)
    data['Apr'].append(apr)
    data['May'].append(may)
    data['Jun'].append(jun)

In [ ]:
# Create the DataFrame
df = pd.DataFrame(data)

In [ ]:
# Rename columns
df.columns = ['Product No', 'Product Name', 'January', 'February', 'March', 'April', 'May', 'June']

In [ ]:
# Add 'Total Sell' and 'Average Sell' columns
df['Total Sell'] = df[['January', 'February', 'March', 'April', 'May', 'June']].sum(axis=1)
df['Average Sell'] = df[['January', 'February', 'March', 'April', 'May', 'June']].mean(axis=1)

In [ ]:
# Add 2 rows at the end
df = df.append({'Product No': 'P6', 'Product Name': 'Product6', 'January': 100, 'February': 200, 'March': 300, 'April': 400, 'May': 500, 'June': 600}, ignore_index=True)
df = df.append({'Product No': 'P7', 'Product Name': 'Product7', 'January': 700, 'February': 800, 'March': 900, 'April': 1000, 'May': 1100, 'June': 1200}, ignore_index=True)

In [ ]:
# Add 2 rows after the 3rd row
df = pd.concat([df.iloc[:3], pd.DataFrame({'Product No': ['P8', 'P9'], 'Product Name': ['Product8', 'Product9'], 'January': [800, 900], 'February': [700, 600], 'March': [1000, 1100], 'April': [1200, 1300], 'May': [1100, 1000], 'June': [900, 800]}), df.iloc[3:]], ignore_index=True)

In [ ]:
# Print first 5 rows
print("First 5 rows:")
print(df.head())

In [ ]:
# Print last 5 rows
print("\nLast 5 rows:")
print(df.tail())

In [ ]:
# Print rows 6 to 10
print("\nRows 6 to 10:")
print(df.iloc[5:10])

In [ ]:
# Print only product names
print("\nProduct Names:")
print(df['Product Name'])

In [ ]:
# Print January sales with product id and product name
print("\nJanuary Sales:")
print(df[['Product No', 'Product Name', 'January']])

In [ ]:
# Print records where January sales > 5000 and February sales > 8000
print("\nRecords with January > 5000 and February > 8000:")
print(df[(df['January'] > 5000) & (df['February'] > 8000)])

In [ ]:
# Print records in sorting order of Product name
print("\nSorted by Product Name:")
print(df.sort_values(by='Product Name'))

In [ ]:
# Display only odd index number columns
print("\nOdd Index Columns:")
print(df.iloc[:, 1::2])

In [ ]:
# Display alternate rows
print("\nAlternate Rows:")
print(df.iloc[::2])